In [1]:
import networkx as nx
import pickle
import random
import scipy
from scipy.sparse import tril, find
import django
import sys, os
import pandas as pd
import matplotlib.pyplot as plt
import igraph
from django.core.management import call_command

sys.path.append('/home/galm/software/django/tmv/BasicBrowser/')
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "BasicBrowser.settings")
django.setup()

from scoping.models import *
from cities.models import *

In [23]:
q = Query.objects.get(pk=7965)

pd.set_option('display.max_colwidth', -1)
dis = []
pat = "[a-z|A-Z]{2} [0-9]{5}"
for d in q.doc_set.all():
    if d.docauthinst_set.exists():
        fai = d.docauthinst_set.order_by('position').first().institution
        if fai=="" or fai==[""] or fai=="['']":
            continue
        cstring = fai.split(',')[-1]
        country = None
        cstring = cstring.replace('.','')
        if "USA" in cstring:
            country = Country.objects.get(name="United States")
        if country is None:
            if "Trinid & Tobago" in cstring:
                country = Country.objects.get(name="Trinidad and Tobago")
        if country is None:
            for ukc in ["england","scotland","wales","northern Ireland"]:
                if ukc in cstring.lower():
                    country = Country.objects.get(name="United Kingdom") 
                    
        if country is None:
            if "DEM REP CONGO" in cstring:
                country = Country.objects.get(name__icontains="Democratic Republic of the Congo")
            if "Cote Ivoire" in cstring:
                country = Country.objects.get(name__icontains="Ivory Coast")
                
        if country is None:
            if "Mongol Peo Rep".lower() in cstring.lower():
                country = Country.objects.get(name="Mongolia")

        if country is None:
            for c in Country.objects.all():
                if c.name.lower() in cstring.lower() or c.name.lower() in cstring.replace('U ','United ').lower():
                    country = c
                    break
        if country is None:
            for c in Country.objects.all():
                for alt in c.alt_names.all():
                    if alt.name.lower() in cstring.lower():
                        country = c
                        break
                        
                        
        if country is None:
            if re.match(pat, cstring):
                country = Country.objects.get(name="United States")
            if "washington" in fai.lower():
                country = Country.objects.get(name="United States")
            
        if country is None:
            print(cstring, fai)
            continue
                
        dis.append({"id":d.id, "fai": fai,"country": country.name, "continent": country.continent.name})
    else:
        print(d.title)
df = pd.DataFrame.from_dict(dis)

df.head()

Health benefits of policies to mitigate climate change
IEA - World energy outlook 2004
International greenhouse gas emissions budgets and joint implementation
 Byelarus Belarusian State Univ, Minsk 220050, Byelarus.
Land-Based Pollution in the Arctic Ocean: Canadian Actions in a Regional and Global Context
 Fr Polynesia CNRS, EPHE, UMS 2978, Ctr Rech Insulaires, Papetoai, Moorea, Fr Polynesia.
 Papua New PNG Univ Technol, Dept Agr, Lae 411, Morobe Province, Papua New.
 Byelarus IPNASB, 68 Nezavisimosti Ave, Minsk 220072, Byelarus.
Reducing global carbon dioxide emission
Antagonism, Neo-liberalism and Movements: Six Impossible Things Before Breakfast
Heatwaves blamed on global warming (vol 488, pg 143, 2012)
 * Univ Virginia, Dept Civil & Environm Engn, *, *, *.
Health, Safety and Environment as the Basis for Innovative Education on Sustainability
Water Challenges and Solutions on a Global Scale
A Case Study: Still Water Electrical Generation
New York City Panel on Climate Change 2015 Report Conclusions and Recommendations
 Byelarus NAS Belarus, Inst Phys, Minsk 220072, Byelarus.
CARACAS' DECLARATION ON CLIMATE CHANGE
New York City Panel on Climate Change 2015 Report Executive Summary
Climate Adaptation Guidebook for New York State Annex II to the ClimAID Integrated Assessment for Effective Climate Change Adaptation Strategies in New York State Conclusions and Recommendations
 Fr Polynesia USR 3278 CRIOBE CNRS EPHE UPVD, Papetoai 98729, Moorea, Fr Polynesia.
 Fr Polynesia CRIOBE, Labex Corail, USR CNRS EPHE UPVD 3278, BP 1013 Papetoai, Moorea 98729, Fr Polynesia.
Fighting global warming under the Trump Administration: a one-on-one conversation with Joel Schwartz
Libraries and Implementation of UN 2030 Agenda
INTEGRAL WATER MANAGEMENT MODEL FOR URBAN AREAS DURING EXTREME RAINFALL EVENTS. CASE STUDY: PURMEREND, THE NETHERLANDS
 Rom~nia Univ Transilvania Brasov, Str Politehnicii 1, Brasov 500024, Rom~nia.
IL'] ['MIDWESTERN CLIMATE CTR,CHAMPAIGN,IL.']
 Fr Polynesia Univ French Polynesia, Faaa, Fr Polynesia.
Industry - Trading can reduce climate change costs
Airline emissions of carbon dioxide - The opportunity for voluntary agreement
CLIMATE PROTECTION LEVELS Incorporating Climate Change into Design and Performance Standards New York City Panel on Climate Change
 Neth Antilles CARMABI Res Inst, Willemstad, Curacao, Neth Antilles.
 St Kitts & Nevi Ross Univ, Dept Biomed Sci, Sch Vet Med, POB 334, Basseterre, St Kitts & Nevi.
Hidden Costs of Energy: Unpriced Consequences of Energy Production and Use
Reducing greenhouse gases and air pollution: A Menu of Harmonized Options
Environmental effects of ozone depletion and its interactions with climate change: Progress report, 2005 (vol 5, pg 13, 2006)
 Byelarus Belarus Natl Acad Sci, Inst Microbiol, Minsk, Byelarus.
 Byelarus APB BirdLife Belarus, Minsk 220114, Byelarus.
ADAPTATION ASSESSMENT GUIDEBOOK Ne York City Panel on Climate Change
 St Vincent St Vincent Girls High Sch, Kingstown, St Vincent.
Global Climate Change and Children's Health
Industry - Ministers to complete climate change treaty by November
Executive Summary of Climate Change Adaptation in New York City: Building a Risk Management Response
 Byelarus Belarus Natl Tech Univ, Minsk, Byelarus.
Climate Change Scenarios & Implications for NYC Infrastructure New York City Panel on Climate Change
 Cent Afr Republ Univ Bangui, Fac Arts & Humanities, Dept Geog, Bangui, Cent Afr Republ.
 Eswatini Univ Swaziland, Dept Hort, Kwaluseni, Eswatini.
Power Plants 2020+Power Plant Options for the Future and the Related Demand for Research
Sustainable Cities Programme: A joint UN-HABITAT-UNEP facility on the urban environment with participation of the Dutch government
Forest Management Solutions for Mitigating Climate Change in the United States (vol 106, pg 3, 2008)
 Neth Antilles Caribbean Res & Management Biodivers CARMABI, Willemstad, Curacao, Neth Antilles.
 Marshall Island Marshall Isl Nat Resource Assessment Surveys, Majuro, Marshall Island.
 Byelarus Republ Hydrometeorol Ctr, Div Hydrol, Minsk 220114, Byelarus.
 Falkland Island Govt South Georgia & South Sandwich Islands, Govt House,Stanley FIQQ 1ZZ, Port Howard, Falkland Island.
 Fr Polynesia Univ Polynesie Francaise, UMR EIO, LabEx CORAIL, BP 6570, F-98702 Faaa, French Polynesi, Fr Polynesia.
CO'] ['US FOREST SERV,ROCKY MT FOREST & RANGE EXPT STN,FT COLLINS,CO.']
 Turks & Caicos Ctr Marine Resource Management Turks & Caicos Isl, Environm Policy & Socioecon Values, Sch Field Studies, Cockburn Harbour, Turks & Caicos.
Adapting to climate change: What's needed in poor countries, and who should pay?
CA'] ['PACIFIC INST STUDIES DEV ENVIRONM & SECUR,GLOBAL ENVIRONM PROGRAM,OAKLAND,CA.']
Appendix 1: Articles 1-6 of the framework convention on climate change
 W Ind Assoc St'] ['Caribbean Inst Meteorol & Hydrol, St James, Barbados, W Ind Assoc St.']
Energy analysis of power systems
 Byelarus M Tank Belarus State Pedag Univ, Dept Bot, Minsk 220809, Byelarus.
Position Paper on Nuclear Proliferation Issues Preventing Nuclear Proliferation: A Duty for the Nuclear Community
 Eswatini Swaziland Natl Trust Commiss, Lobamba, Hhohho, Eswatini.
What People Really Think about Nuclear Energy
The aluminium industry, a greenhouse challenge - The Australian experience
 Antigua & Barbu Minist Tourism, St Johns, Antigua & Barbu.
 Fr Polynesia Univ Polynesie Francaise, UMR EIO, LabEx CORAIL, BP 6570, F-98702 Faaa, French Polynesi, Fr Polynesia.
Climate Change and Human Well-Being Global Challenges and Opportunities Preface
Climate Change, Mountain Ecology, and Adaptation in the Himalayas
Deforestation detection algorithm for wireless sensor networks

,continent,country,fai,id
0,Europe,United Kingdom,"Liverpool John Moores Univ, Res Ctr Evolutionary Anthropol & Palaeoecol, Sch Nat Sci & Psychol, Liverpool L3 3AF, Merseyside, England.",1095
1,Europe,Austria,"Leopold Franzens Univ Innsbruck, Inst Bot, A-6020 Innsbruck, Austria.",1133
2,North America,United States,"Arizona State Univ, Sch Sustainabil, Tempe, AZ 85287 USA.",1135
3,North America,United States,"Columbia Univ, Dept Econ, 1022 Int Affairs Bldg,MC 3308,420 West 118th St, New York, NY 10027 USA.",1152
4,Europe,Poland,"Panstwowy Inst Badawczy, Inst Ochrony Srodowiska, Warsaw, Poland.",1164

In [20]:
pat = "[a-z|A-Z]{2} [0-9]{5}"
cstring = "MA 02138"
re.match(pat,cstring)

In [22]:
Country.objects.get(name="Mongolia").alt_names.values('name')